Add support for RFC 2616 Section 8.2.2

RFC 2616 Section 8.2.2 recommands an HTTP client monitor the server for error replies while sending a request. This allows the server to stop the request before it is finished. TIdHTTP does not currently support that.