Support RFC 2616 Section 12

Update TIdHTTP and TIdHTTPServer to support RFC 2616 Section 12